[2016-05-20 05:00] madiflannery opened #6 "Update tools to latest versions"

[2016-05-20 05:00] madiflannery opened #7 "Remove obsolete tools"

[2016-05-20 05:00] madiflannery opened #8 "Check for tool ownership changes"

[2016-05-20 05:00] madiflannery opened #9 "DEXseq, DEseq2, DEseq, edgeR errors on GVL-4.0.0"

[2016-05-20 05:00] madisonkeene commented on #9
DEXseq, DEseq2, DEseq produce errors, edgeR has an empty output. These are tools from the RNA Analysis menu. I've tested DEXseq and DEseq2 on Galaxy-mel - the same problem, the tools produce errors.

Differential Count model works fine (it has DEseq2 and edgeR)

[2016-05-20 05:01] madiflannery opened #10 "count_gff_features is misplaced in GATK1.4"
count_gff_features tool is in NGS: GATK Tools 1.4, it used to be in Statistics. It is not a part of GATK package.

[2016-05-20 05:02] madiflannery opened #11 "Add a new Launch instruction"
The current Launch instruction of the GVL website is for GVL-3.4 . It would be useful to have an instruction for the current version and for the early versions.

Please add instruction on how to add PacBio tools. The installation package in is the admin section, which is not obvious.

[2016-05-20 05:02] madiflannery opened #12 "Arithmetic Operations on tables is in Operate on Genomic Intervals"
It seems Arithmetic Operations on tables was mis-placed. It is not an operation on genomic intervals.

[2016-05-20 05:05] madiflannery opened #13 "Add tabix to the image"
Tools in “NGS: VCF Manipulation” require tabix. In GVL-4.0.0 tools such as intersect and compare produce an empty output

[2016-05-20 05:05] madisonkeene commented on #13
Added tabix via apt-get install tabix

[2016-05-20 05:07] madiflannery opened #14 "Get X forwarding working!"

[2016-05-20 05:08] madisonkeene commented on #14
Torsten solved this.

In /etc/sshd/config you need to append

Host *
ForwardX11Trusted yes
X11UseLocalhost no

Restart the ssh daemon

sudo stop ssh ; sudo start ssh

And also need the xauth package installed

apt-get install xauth

First login will fail as no .Xauthority file.

ssh -Y ubuntu@example.com

Login in again and it should work!

[2016-05-20 05:08] madisonkeene commented on #14
Leave out ForwardX11trusted, it breaks everything

[2016-05-20 05:10] madiflannery opened #15 "LiftOver binary missing"
LiftOver wrapper fails because the binary from UCSC is missing in the base image.

[2016-05-20 05:14] madiflannery opened #16 "Bar chart tool error"
Bar chart tool does not work: File "/mnt/galaxy/galaxy-app/tools/plotting/bar_chart.py", line 26, in <module>
import Gnuplot, Gnuplot.funcutils
ImportError: No module named Gnuplot

This tool uses a virtual environment(?) and Numpy package has to be added to the virtual environment. Ask Derek for details.

[2016-05-20 05:15] madisonkeene commented on #16
Derek's fix: udo apt-get install gnuplot
sudo su - galaxy
cd /mnt/galaxy/galaxy-app/
source .venv/bin/activate
cd ../tmp
mkdir gnuplot
cd gnuplot/
wget http://sourceforge.net/projects/gnuplot-py/files/latest/download?source=files
mv download\?source=files gnuplot-py-1.8.tar.gz
tar -xzf gnuplot-py-1.8.tar.gz
cd gnuplot-py-1.8/
pip install NumPy
python setup.py install

[2016-05-20 05:16] madiflannery opened #17 "Galaxy reports bugs"
Bigs in Galaxy Reports
1. Job per user displays only top 50 jobs, other pages are blank. This is an old bug, it exists in GVL-3.04
2. User disk usage: it shows only the default 60 users. Putting any other number of users produces "Server Error" message. This is a new bug, it was ok in previous GVL versions.
All bugs were detected on Galaxy-qld.

[2016-05-20 05:16] madisonkeene commented on #17
Need to file bug with Galaxy if not working in 4.1

[2016-05-20 05:25] madiflannery opened #18 "Fix Galaxy's help->support link + add citation to Galaxy and GVL dashboard"
help->support should point to: https://genome.edu.au/help/gvl-help

[2016-05-20 05:26] madiflannery opened #19 "hg38 genome is missing"
I think we used to have it? So I'm not sure if it's actually missing on gluster, or just not referenced in new build's Galaxy configs

[2016-05-20 05:26] madisonkeene commented on #19
Updated galaxy.ini to point to correct builds.txt file: builds_file_path: "{{ galaxy_server_dir }}/tool-data/shared/ucsc/builds.txt"

[2016-05-20 05:27] madiflannery opened #20 "No link to UCSC Genome Browser for BAM files"
no link to UCSC Genome Browser for hg19 BAM files

[2016-05-20 05:27] madisonkeene commented on #20
Fix for the problem.
/mnt/galaxy/galaxy-app/config//galaxy.ini

# change :

ucsc_display_sites = gvlmain,test,archaea,ucla

# to :

ucsc_display_sites = main,test,archaea,ucla

/mnt/galaxy/galaxy-app/tool-data/shared/ucsc/ucsc_build_sites.txt

# change: gvlmain http://ucsc.genome.edu.au/cgi-bin/hgTracks?

# to

main http://genome.ucsc.edu/cgi-bin/hgTracks?
(must be tub separated)

(optional) /mnt/

[2016-05-20 05:27] madisonkeene commented on #20
Note for myself: dm3 works just fine after the fix, hg38 - no link, because hg38 is not in ucsc_build_sites.txt file.
mm9, mm10, hg19 - ok (all three have links to UCSC main)

[2016-05-20 05:27] madisonkeene commented on #20
Fixed galaxy.ini to use corerct ucsc_display_sites list and changed ucsc_build_sites.txt to use default ucsc server as given below.

[2016-05-20 05:28] madiflannery opened #21 "No liftOver indices on GVL-4"
It seems the complete set of genome indices does not have any liftOver files. The files can be coped from UCSC Genome Browser

[2016-05-20 05:29] madisonkeene commented on #21
Verdict from meeting: LiftOver indices too large to include - users will need to install manually through Data Manages

[2016-05-20 05:29] #21 closed

[2016-05-20 05:30] madiflannery opened #22 "DEseq2 and edgeR are duplicated"
DESeq2 and edgeR are present as separate tools and as a part of Differential_Count_models. There is also DESeq, an early version. Was it intentional?

OK, thanks to info from Jessica, that's what I've learnt: the tools use different inputs, e.g. table count for Differential_count models and BAM files for stand-along DESeq/DESeq2. Stand-alone edgeR uses different count matrices compared to edgeR in

[2016-05-20 05:30] #22 closed

[2016-05-20 05:32] madiflannery opened #23 "VNC config for researcher and ubuntu users"
Adding this as a bug as I'm not sure where else it goes. I think it's high-priority as we tend to run our workshops in a way that is broken by this. It's probably also easy though.

Currently if you log into VNC as ubuntu, you get an IPython Notebook icon which you should not use (it's not configured for web access, so you will just be confused if you try this).
Conversely if you log in as researc

[2016-05-20 05:32] madisonkeene commented on #23
It's unclear if this stuff should be fixed in the commandline utilities setup_user.sh script, or by setting up Lubuntu defaults that apply to all new users.

[2016-05-20 05:32] madisonkeene commented on #23
iPython icon no longer needed. We could add icons for terminal etc. but this needs investigation - probably needs to be done through the commandline ansible scripts.

[2016-05-20 05:35] madiflannery opened #24 "Install FUSE icon"
Add an icon to the user desktop to install FUSE. The script will have to ask the user to input the Galaxy password but this won't matter

1. Write a shell script to get a users API key and run it
2. Get the add_user.sh script in command line utils to copy this script and add the icon to the desktop
3. Future: Make add_user.sh automatically create the system account + galaxy account, make it retrie

[2016-05-20 05:35] madiflannery opened #25 "VEP - ensemble variant predictor software."
Do we still need VEP now that we use SnpEff in the tutorials?

[2016-05-20 05:36] madiflannery opened #26 "Make indices symlinks to support writable index directory"
At the moment, the indices directory is not writable, particularly when using gluster. Instead, the indices should be bundled with the archive, with symlinks included to the original index folder. The easiest way to achieve this, is to make the indices archive a zipped list of symlinks when using gluster, with the loc files bundled with it. Gluster would be mounted as a third mount. When not using

[2016-05-20 05:36] madisonkeene commented on #26
This probably won't be done - very low priority.

[2016-05-20 05:37] madiflannery opened #27 "Statistics > Summary Statistics error"
an old error with Summary Statistics:
Traceback (most recent call last):
File "/mnt/galaxy/galaxy-app/tools/stats/gsummary.py", line 4, in <module>
from rpy import *
ImportError: No module named rpy

NOTE: the error was found on an early version of GVL-4

[2016-05-20 05:37] madisonkeene commented on #27
Investigate replacing this with a better tool

[2016-05-20 05:38] madiflannery opened #28 "Add IGV to GVL-FS + Desktop Icon"
We already had this working from memory (with approval of the Broad). We need to ask Yousef

Andrew

[2016-05-20 05:39] madiflannery opened #29 "GVL-4.00: NGS: Indel Analysis"
All tools in 'NGS: Indel Analysis' are missing on GVL-3.05:
NGS: Indel Analysis
- Filter Indels for SAM
- Indel Analysis Table for combining indel interval data
- Indel Analysis
One tool (Indel Analysis) is used in Variant Detection Basic tutorial.
I don't know who added the tools to GVL. I have not seen these tools on Galaxy-main.
Maybe Andrew can shed light on these tools. I was unable to find t

[2016-05-20 05:40] madisonkeene commented on #29
These tools were part of the old Galaxy built in tools. They were python scripts written by the galaxy team themselves. They are still on galaxy-tut and the required one can be manually added to our final image if we require (by copying it off galaxy-tut) and crossing our fingers that all of the python dependencies are still available.

[2016-05-20 05:41] madiflannery opened #30 "If user doesn't specify a cluster name, launch hangs"
If user of launch.genome.edu.au doesn't enter a name for their new cluster, the page allows them to proceed and the launch process goes through "Requesting" and "Pending". It then hangs at "Booting" (presumably forever). There's no indication of what they did wrong. Probably this should be a required field for the user to be able to submit the launch form in the first place.

Also, I think that th

[2016-05-20 05:42] madiflannery opened #31 "JupyterHub crashes"
Apparent way to trigger is to log into an account (e.g. researcher) from two machines and then log out on one of them. This locks up entire JH server and requires restart from command-line.

[2016-05-20 05:42] madiflannery opened #32 "galaxy-fuse bug"
Broken symlinks to datasets. A similar earlier bug was caused by a change to the Galaxy API, but that should be fixed.

[2016-05-20 05:42] madiflannery opened #33 "IPTables rules need to be put in for defence-in-depth"

[2016-05-20 05:53] #31 closed

[2016-05-24 04:17] madiflannery opened #34 "This is a new bug that I found"
this is my description

[2016-05-24 04:19] #34 closed

[2016-05-24 04:19] madisonkeene commented on #34
added this to the wrong board... haha!

[2016-05-25 05:53] madiflannery opened #35 "Add latest version of SAMtools to build script"
To fix the samtools issue where users can crash galaxy.

QLD report that sorting bam files crashes galaxy and leaves tmp files that then accumulate -- kills python process, repeatable! (gvl-lab email 20 April)  recreate here, or in 4.1.?  - QLD to create bug report - repeatable at melb-test - other people submitted to galaxy list, galaxy using local environment to run samtools - fix update samtool

[2016-05-25 05:56] madiflannery opened #36 "GVL still points to UCSC as link in Galaxy under get data"
Email from Igor, 25th May:

On Galaxy-qld this was fixed in:
/mnt/galaxy/galaxy-app/tools/data_source/ucsc_tablebrowser.xml

<inputs action="http://ucsc.genome.edu.au/cgi-bin/hgTables" check_values="false" method="get">
was replaced with
<inputs action="http://genome.ucsc.edu/cgi-bin/hgTables" check_values="false" method="get">

[2016-06-02 03:32] Slugger70 opened #37 "Remove venburritto startup from .profile and .bashrc."
Loading venvburritto startup in the .profile and .bashrc sets the $PYTHONPATH undesirably. It really screws up brew installations.

Leave it present and load it manually if it's actually required for anything.

[2016-06-03 07:47] afgane commented on #37
`venvburitto` is used by CloudMan - it's virtualenv is created there. At this point, it's an artifact of the past and we could remove it but it does actually link into several in at least Ansible role and `cm_boot.py` (https://github.com/galaxyproject/cloudman/blob/master/cm_boot.py#L440) so the image and CloudMan would need to be updated simultaneously. The annoying thing is that such change woul

[2016-06-08 01:45] madisonkeene commented on #11
Jess already did this, but I'll add the SMRT portal stuff now

[2016-06-08 02:13] madisonkeene commented on #11
Instructions added. Just waiting on pull request to be accepted before I close this :)

[2016-06-08 04:32] #11 closed

[2016-06-08 06:09] jessicachung opened #38 "Length distribution tool in Galaxy missing Perl module"
Length distribution requires GD::Graph::bars module to run

[2016-06-08 06:12] jessicachung opened #39 "Some Galaxy tools are using the wrong version of R"
Tools such as "Correlation for numeric columns" and "Scatterplot" are using the wrong version of R. This can be fixed by adding the line
[code]
into
[code]
once the filesystem has been built.

[2016-06-08 06:17] madiflannery opened #40 "Synchronise users between Master and workers"
The problem is that users are not replicated between master and workers - as a result, jobs can fail when an attempt is made to execute as that user (e.g. the researcher user). Torsten suggested that we make the master run some kind of auth server, say ldap, which the workers are synchronised too. That way, standard unix commands can be used to manage users across the cluster.

[2016-06-08 06:20] jessicachung commented on #16
This still doesn't work. I can import Gnuplot with /usr/bin/python, but not with the galaxy virtualenv.

[2016-06-08 17:34] nuwang commented on #40
Based on Derek's proposal, the following has been implemented as an immediate solution: https://github.com/gvlproject/gvl.ansible.image/commit/e320f75ac3db0160ac24ba9c418574f102d23c13

Later on, perhaps for GVL 5.0.0, we can try out something more comprehensive, like Globus or LDAP.

[2016-06-09 04:13] nuwang commented on #38
Fixed in: https://github.com/gvlproject/gvl.ansible.image/commit/d0d0d5f4c8e55972a261746e94e1755f06cc5e98

[2016-06-09 09:14] nuwang commented on #16
The gnuplot and numpy packages have been installed in Galaxy's virtualenv in addition to a systemwide installation.

[2016-06-09 09:15] nuwang commented on #35
@jessicachung Is this no longer necessary then? Or should we update samtools anyway to the latest version just in case?

[2016-06-09 13:12] nuwang commented on #37
Fixed in commits: https://github.com/nuwang/cloudman/commit/35aa1d2ae74fdd623e6634aa1c85c8d028197274
and https://github.com/nuwang/ansible-cloudman-image/commit/716298c4ed1d74f164972d1db91dbba86afaa714
A build is underway, and this issue can be moved to in-test when the build is complete.

[2016-06-09 14:08] afgane commented on #37
Nice going.

[2016-06-10 03:54] jessicachung commented on #35
I haven't been able to crash galaxy in 4.1 by indexing an unsorted bam file (the job still fails, but galaxy doesn't crash).

It might still be a good idea to update samtools, but it's no longer a critical issue.

[2016-06-11 04:43] nuwang commented on #37
@Slugger70 Can you check it's all good now?

[2016-06-11 04:45] nuwang commented on #39
@jessicachung @Slugger70 Can you explain this problem to me a bit more? So is the issue that rpy is using the wrong version of R for some reason? Why are there two versions of R?

In any case, we can fix this after the tool installation bit with lineinfile.

[2016-06-14 04:32] igormakunin opened #41 "GVL-4.1 Get Data is hooked to defunct GVL UCSC genome browser mirror"
Tested on Image: GVL 4.1.0 Alpha (ami-0000396b)

Get Data > UCSC Main table browser returns an error because Galaxy is searching for the defunct GVL UCSC genome browser mirror.

File to edit:
/mnt/galaxy/galaxy-app/tools/data_source/ucsc_tablebrowser.xml
Replace:
ucsc.genome.edu.au
with:
genome.ucsc.edu

[2016-06-14 05:35] igormakunin opened #42 "GVL-4.1 no visualisation for hg38 and some other assemblies on UCSC genome browser"
Data for some genome assemblies, including the latest human genome hg38, are not displayed on UCSC genome browser. It would be useful to have links to UCSC for assemblies with build-in genome indices provided by GVL.

Fix:
/mnt/galaxy/galaxy-app/tool-data/shared/ucsc/ucsc_build_sites.txt
Add sacCer2,sacCer3,hg38,bosTau7,rn6,rn5,oviAri3,ce10,danRer7 to 'main' line. I have impression the position is

[2016-06-14 06:57] nuwang commented on #42
Fixed in commit: https://github.com/gvlproject/gvl.ansible.filesystem/commit/1413a8a9a7d5bc012db4311f2ffe049f308f5b76

[2016-06-14 06:59] nuwang commented on #41
Fixed in commit: https://github.com/gvlproject/gvl.ansible.filesystem/commit/d05d04bddfc7a3015866d157fe0073e292c545a0

[2016-06-14 07:00] nuwang commented on #42
@igormakunin Will move to in-test and assign to you once latest build is complete.

[2016-06-14 07:01] nuwang commented on #17
@igormakunin Is this still an issue with the latest Galaxy in 4.1?

[2016-06-14 07:17] nuwang commented on #20
@igormakunin Can you please check this as well while on this issue? Will let you know when the new build is ready

[2016-06-14 07:18] #18 closed

[2016-06-14 07:24] Slugger70 opened #43 "Galaxy reports sample ini file is no good."
The reports.ini.sample file is not working. It gets an error:
[code]

The file is correct in the build images (or at least it is in the mGVL) but seems to be changed post launch.

Not sure what is going on.

[2016-06-14 07:30] Slugger70 commented on #43
If I overwrite the file with the working version, it gets reoverwritten with the broken one whenever I try a retart in cloudman.. The only way I can get it to work is to over write it and then remove write permissions on the file...

[2016-06-14 07:36] Slugger70 commented on #43
working version contents:

[code]

[2016-06-14 22:49] igormakunin commented on #17
@nuwang I cannot check it because Galaxy Reports does not start on GVL-4.1.0, see Simon's comment

[2016-06-14 23:03] igormakunin commented on #20
@nuwang The hg19 visualisation issue has gone. The ticket can be closed.

[2016-06-14 23:29] igormakunin commented on #35
@nuwang I can confirm: no crash during sorting of a BAM file with 'the crash text string'. SAMtools>sort has produced a functional output (green file). However, the contig oder in coordinate-sorted BAMs might differ from the assembly, eg chr3, chr2. Both single and paired-end BAMs were tested. The ticket can be closed.

[2016-06-14 23:36] igormakunin commented on #10
@nuwang The ticket can be closed, count_gff is not in GATK1.4 in GVL-4.1

[2016-06-14 23:53] igormakunin commented on #12
@nuwang This ticket can be closed, the issue was fixed.

[2016-06-15 00:53] igormakunin commented on #9
@nuwang DEXseq, DEseq and edgeR are all gone. DEseq2 works with the new (additional) htseq count tool. I guess the ticket can be closed.

[2016-06-15 00:56] igormakunin opened #44 "no Cufflinks package on GVL-4.1"
It seems Cufflinks package is missing on GVL-4.1. It is used in RNA-Seq Basic and Advanced Galaxy tutorials

[2016-06-15 01:04] igormakunin opened #45 "no module _rpy3030"
Error with Graph > Scatterplot:
Traceback (most recent call last):
  File "/mnt/galaxy/shed_tools/toolshed.g2.bx.psu.edu/repos/devteam/scatterplot/d243056b22ed/scatterplot/scatterplot.py", line 5, in <module>
    from rpy import *
  File "/mnt/galaxy/tools/rpy/1.0.3/devteam/package_rpy_1_0_3/82170c94ca7c/lib/python/rpy.py", line 134, in <module>
    """ % RVERSION)
RuntimeError: No module named _r

[2016-06-15 01:46] igormakunin opened #46 "NGS: VCF Manipulation > Annotate on INFO field"
It seems that Annotate tool works only on FORMAT tags, but it assign filter tags for all variants when INFO field is used. It supposed to work on the INFO field. ![Screen Shot 2016-06-15 at 11.31.02 AM.png](https://overvio-usercontent.s3.eu-central-1.amazonaws.com/Screen%20Shot%202016-06-15%20at%2011.31.02%20AM-83f377ce5fa87c327065c4e30ce1666c12d136c2c79ed7d729b58a41dd6c264d.png)

[2016-06-15 06:25] jessicachung commented on #45
Duplicate of https://github.com/gvlproject/gvl.ansible.playbook/issues/39

[2016-06-15 07:44] #45 closed

[2016-06-15 07:45] nuwang commented on #39
Fixed in: https://github.com/gvlproject/gvl.ansible.filesystem/commit/db6a3a77e91c0987b5d9d975b41c4610bb06ec12

[2016-06-15 07:46] #35 closed

[2016-06-15 07:46] #20 closed

[2016-06-15 07:47] #12 closed

[2016-06-15 07:47] #10 closed

[2016-06-15 07:47] #9 closed

[2016-06-19 11:33] nuwang commented on #43
Caused by incompatibility between cloudman and latest galaxy. (reports_wsgi.ini renamed to reports.ini). Fixed

[2016-06-19 11:33] #43 closed

[2016-07-12 00:27] mthang opened #47 "mGVL (microgvl.ansible.filesystem) - ipython config does not exist ."
The following error message occurred when I followed the steps on https://github.com/gvlproject/microgvl.ansible.filesystem to build the mGVL. There was no "ipython" folder found in this directory "/mnt/galaxy/galaxy-app/config/plugins/interactive_environments".

fatal: [203.101.226.39]: FAILED! => {"changed": false, "checksum": "bb45406d527cc8e8f092c989ed3980a109d381c6", "failed": true, "invocati

[2016-07-12 02:26] nuwang commented on #47
Hi, this issue has been fixed in this commit: https://github.com/galaxyproject/ansible-cloudman-galaxy-setup/commit/714646dbc2729ffbec52a0a04cfa6e2d09fe1189 but the reason you're not getting that fix is because the Ansible Galaxy version has not been updated yet. As a workaround, can you try manually removing roles/galaxyprojectdotorg.cloudman-galaxy-setup, followed by a

[code]

You may in fact,

[2016-07-12 02:31] nuwang commented on #47
@afgane Should we consider skipping Ansible-Galaxy altogether and implementing this as tagged github releases + requirements.yml?

[2016-07-12 03:08] Slugger70 commented on #47
I always use the git HEAD for my builds and forgo the ansible-galaxy as they are usually out of sync.

[2016-07-12 16:16] afgane commented on #47
I agree - removing dependency on Ansible-Galaxy is desirable. It should be done across all the roles too but one at a time is a good start.

[2016-07-12 23:18] mthang commented on #47
Hi,this is the error message after I used the updated "galaxyprojectdotorg.cloudman-galaxy-setup"
fatal: [203.101.228.142]: FAILED! => {"failed": true, "msg": "'ansbile_env' is undefined"}.

I found the code in this yml file
https://github.com/gvlproject/microgvl.ansible.filesystem/blob/master/tasks/install_linuxbrew.yml
- debug: msg="Current ansible envorinment = {{ ansbile_env }}"

[2016-07-13 01:55] Slugger70 commented on #47
What version of ansible are you using? ansible_env is a built in variable.

[2016-07-13 02:36] mthang commented on #47
ansible 1.9.3 is the version in the GVL 4.0, but I need to upgrade the ansible by "pip install --upgrade ansible" .  The ansible version is 2.1.0 after the upgrade.

Without upgrading the ansible, I encounter "deprecated feature" error.
ERROR: [DEPRECATED]: include + with_items is a removed deprecated feature (in /home/ubuntu/gvl.ansible.playbook/roles/galaxyprojectdotorg.galaxy-tools/tasks/tools.

[2016-07-13 03:57] nuwang commented on #47
@Slugger70 Just noticed that there is a typo in ansbile_env.

[2016-07-15 07:01] igormakunin opened #48 "Statistics > Correlation: formulas are missing"
GVL-4.1.0 instance was deployed from ami-0000399e image
Statistics > Correlation tool does not show formulas (png files). OK on GVL4.0.0.

[2016-07-15 07:03] igormakunin opened #49 "Statistics > Correlation: formulas are missing"
GVL-4.1.0 instance was deployed from ami-0000399e image
Statistics > Correlation tool does not show formulas (png files). OK on GVL4.0.0.

[2016-07-15 07:04] igormakunin opened #50 "Statistics > Correlation: formulas are missing"
GVL-4.1.0 instance was deployed from ami-0000399e image
Statistics > Correlation tool does not show formulas (png files). OK on GVL4.0.0.

[2016-07-15 07:06] #50 closed

[2016-07-15 07:06] #49 closed

[2016-07-17 08:10] igormakunin opened #51 "Extract Genomic DNA error"
Fetch Sequences > "Extract Genomic DNA using coordinates from assembled/unassembled genomes" does not work with available genomes (tested on hg19).

The tool: /mnt/galaxy/galaxy-app/tools/extract/extract_genomic_dna.py

[2016-07-17 08:18] igormakunin opened #52 "Summary Statistics tool is missing"
Statistics > 'Summary Statistics for any numerical column' tool is missing in GVL-4.1.0.
The tool: /mnt/galaxy/galaxy-app/tools/stats/gsummary.py

The tool does not work on GVL-4.0.0. The error message says: No module named rpy

[2016-07-27 05:45] madisonkeene commented on #52
Removed completely - doesn't work because of rpy issues

[2016-07-27 05:49] madisonkeene commented on #47
this should be in the mGVL repo.

[2016-07-27 13:04] afgane commented on #52
This has been fixed in the ansible-galaxy-cloudman-setup role: https://github.com/galaxyproject/ansible-cloudman-galaxy-setup/pull/7

[2016-07-29 05:25] Slugger70 opened #53 "SmrtPortal addin button is still pointing to broken 4.0.0 release."
The button needs to be pointed at the git head and/or a new release needs to be made from current head.

[2016-08-16 05:43] igormakunin opened #54 "Workflow Edit problem"
Workflow Edit does not work on GVL-4.1.0 (http://203.101.230.105/galaxy) or GVL4.0.0 updated to GVL-4.1.0 vai github (Galaxy-qld). I cannot open any existing workflow with edit: 'Loading workflow editor' goes forever.

[2016-08-16 05:59] Slugger70 commented on #54
Works fine on all of my 4.1s.. And on my 4.0s. I get same issue on your machine. Galaxy-mel is fine too.

[2016-08-16 06:06] igormakunin commented on #54
Thank you, Simon! The issue exist on Galaxy-qld and two GVL-4.1 instances deployed in July. Also on Galaxy used for GenomeSpace testing: http://203.101.231.196/galaxy/

[2016-08-16 06:33] igormakunin commented on #54
I just deployed a new GVL-4.1 - no problem with Workflow Edit. On another GVL-4.1 deployed from the same image (http://203.101.230.105/galaxy) Workflow Editor does not work.

[2016-08-16 06:45] igormakunin commented on #54
I guess I should close the ticket because it is a local problem, eg Galaxy-qld, and the current GVL-4.1.0 instance does not have it.

[2016-08-16 23:22] #54 closed

[2016-08-17 07:11] dnbenso opened #55 "SSH client and server X11UseLocalhost issue"
/etc/ssh/ssh_config has an entry that belongs in /etc/ssh/sshd_config:  X11UseLocalhost

When the ssh client is used from the GVL instance it fails because the config file is invalid.
X11 forwarding doesn't work as entry is not in the ssh server configuration file.

[2016-08-17 17:28] nuwang commented on #55
Fixed in commit: https://github.com/gvlproject/gvl.ansible.image/commit/fbed7927aabd1432241e443951cd3fc384ecfa70

A new image has also been built with the fix.

[2016-08-17 17:28] #55 closed

[2016-08-18 06:17] igormakunin opened #56 "GenomeSpace Exporter > Dropbox error"
I cannot export any file to my dropbox account by GenomeSpace Exporter on Galaxy-qld and a recently deployed GVL-4.1 instance. The error message says:
NotImplementedError: Don't know how to handle upload type: Dropbox
The Importer works with dropbox without any problem.
I have a free dropbox account.
Anyone had this problem or it is just me?

[2016-08-18 06:22] madisonkeene commented on #56
Looking at the code it looks like dropbox upload is indeed not implemented - so the exporter won't work with dropbox. Are there plans to add this @nuwang ?

[2016-08-18 06:22] nuwang commented on #56
The exporter only supports Amazon and Openstack at the moment. Support for Google drive and drop box has not yet been implemented.this can done if you think there'll be a big demand.

[2016-08-18 06:23] madisonkeene commented on #56
hahaha fastest answer to my question ever @nuwang :)

[2016-08-18 06:28] igormakunin commented on #56
Dropbox is available in the Connect menu. People may try it. Would it be ok to remove it? Is there any option to notify users that only import is supported?

[2016-08-18 06:33] nuwang commented on #56
Genomespace does support all 4. I don't think we can ( or should) selectively disable because it affects non galaxy users.  implementing the other two can be done based on demand. What do you think?

[2016-08-18 06:34] madisonkeene commented on #56
+1 to what you said Nuwan. Plus, removing functionality from GS is not worth it given there's a new version coming when i'm back from leave anyway

[2016-08-18 06:36] igormakunin commented on #56
It would be useful to have the full support for dropbox. It is a popular storage.

[2016-08-18 06:39] nuwang commented on #56
Ok. I'll look into adding support for it. We may as well implement all 4 for the sake of completeness.

[2016-08-18 06:40] igormakunin commented on #56
That would be great!

[2016-08-19 06:43] igormakunin opened #57 "GenomeSpace Importer - Galaxy workflow renaming issue"
I cannot rename files imported by GenomeSpace Importer in Galaxy workflow. I have a Galaxy workflow with Importer. I set up the datatype and a new name for the dataset through the Workflow Editor. GenomeSpace Importer creates the specified name during the upload, but replaced it with default 'GenomeSpace importer on...' after completion of the upload.

[2016-08-22 13:10] nuwang commented on #56
@igormakunin @madiflannery So it turns out that this problem occurs only with our genomespace mirror, probably because it's a bit out-of-date. Turns out that the new GenomeSpace handles dropbox uploads via S3 ( u'uploadType': u'S3') - and it's only the old genomespace version that sends an uploadType of 'dropbox'.  Once GenomeSpace is upgraded, this problem should disappear.

[2016-08-22 13:10] #56 closed

[2016-08-29 05:24] igormakunin commented on #51
Galaxy-qld users have errors with the tool, so I've tried to fix it. It needs 2bit fasta. GVL-4.1.0 does not provide 2bit. I've installed data_manager_twobit_builder and created 2bit fasta on a test GVL-4.1.0 instance. Galaxy was restarted, but the tool failed: No sequences are available for 'hg19', request them by reporting this error. The fix: .loc files alignseq.loc, lastz_seqs.loc and twobit.l

[2016-09-08 04:56] #53 closed

[2016-09-08 05:19] nuwang opened #58 "Better organisation of files in cloudman-gvl-410 bucket"
Improved organisation of the cloudman-gvl-410 bucket would be good to future proof things.
* Suggest moving webapollo under the packages folder.
* And moving all logos under a packages/icons folder.
(IRIDA_DARK_50h.png  and WebApolloLogo.png)

@Slugger70 What do you think?
We can't move the cloudman stuff, but hopefully, the next version of cloudman won't be using these files at all.

BTW, the pac

[2016-09-08 05:31] madisonkeene commented on #58
This is a great idea @nuwang :) More than happy to do this but it's not going to happen for at least a fortnight if thats OK (583274987 things to do)

[2016-09-08 05:35] nuwang commented on #58
No probs. If it's mainly a matter of adjusting the package registry and shell script, I can do it. It may break icons for existing users if any. What do you think?

[2016-09-08 05:42] madisonkeene commented on #58
Does the dashboard pull the icon from that bucket each time or download it locally to the machine? If it's the latter everything should be fine, if it's the former is it worth changing it to the latter (if that's even possible?). In terms of web apollo afaik we've only installed it on test machines so doesnt matter if the icon breaks :)

[2016-09-08 05:46] nuwang commented on #58
Icon is a direct url so not fetched locally, but the package registry is cached, so it will have the wrong url if we move the icon. Since its just test instances i guess it doesn't matter. If @Slugger70 also sees no problem, I'll do it shortly

[2016-09-08 05:56] madisonkeene commented on #58
Oh OK. Yeah should be all good for web apollo not sure about IRIDA though

[2016-09-08 12:43] #14 closed

[2016-09-08 12:43] #40 closed

[2016-09-08 12:44] #41 closed

[2016-09-08 12:44] #42 closed

[2016-09-08 12:44] #39 closed

[2016-09-08 12:44] #38 closed

[2016-09-08 12:44] #37 closed

[2016-09-08 12:44] #16 closed

[2016-09-08 12:44] #17 closed

[2016-09-08 12:44] #6 closed

[2016-09-08 12:44] #7 closed

[2016-09-08 12:44] #44 closed

[2016-09-08 12:44] #8 closed

[2016-09-08 12:44] #19 closed

[2016-09-08 12:44] #15 closed

[2016-09-08 12:44] #13 closed

[2016-09-08 13:06] #58 closed

[2016-09-08 13:06] nuwang commented on #58
Done

[2016-10-09 23:56] Slugger70 opened #59 "Admin user controls"
We need to add a user interface on the admin page of the GVL dashboard to add users for the GVL_commandline_services. i.e. Everything we use the researcher user for.. Rstudio, Jupyter hub, command line, etc

[2016-10-10 03:24] madisonkeene commented on #59
Adding my 2c- Alongside the admin create account stuff it would be cool to have a way for users to create their own accounts for all those things, then an option for admins to turn that feature off- that way for managed instances like the ABRPI machine you don't have to sit there creating accounts for people, but if an admin wants to regulate who gets accounts on their GVL then they can.

[2016-10-10 10:18] tseemann commented on #59
I think @madiflannery is right. It is not sustainable to have a single admin. There needs to be a way to delegate it.

[2016-10-10 11:27] Slugger70 commented on #59
I agree. We want Admins to be able to trust their users if they are a small group. Maybe registering on the server will create accounts on Galaxy, RStudio, Jupyter and anything else that has already been installed. Then we also need to think about what happens to services that get installed afterwards. Do user accounts propogate? SMRTPortal is an example. Or can we really start to look at using LD

[2016-10-10 17:46] nuwang commented on #59
Sounds like a really good idea. A single-sign on system across the whole system would be great to have, but I'm not sure to what extent these tools support that individually (e.g. Does SMRT portal have LDAP support? Maybe - https://github.com/PacificBiosciences/SMRT-Link).

The second option of manually synchronising accounts sounds much harder to do.

[2016-10-11 04:23] madiflannery opened #60 "Message of the day HTML page"
Putting this here so I can get it off the action items in the meeting agenda.

“Message of the day” HTML page,  then use google analytics to track how many GVL’s - Simon - working on it, works on demo but not in production yet, tbc. Needs SANITISE_HTML=FALSE in galaxy.ini - Can whitelist it.

[2016-10-12 02:19] madisonkeene commented on #59
In an ideal world LDAP would be the way to go but also not sure how many services actually support that. What @Slugger70 suggested shouldn't be too bad assuming you don't add services later- I have no idea how you'd go about propagating the accounts - you'd basically need a list of usernames and passwords, and you can't store passwords in plain text. Or you'd have to have something to detect what

[2016-10-12 04:45] madiflannery opened #61 "'show history structure' broken in GVL 4.1"
Working on Galaxy-Mel if you need a reference of what it should do

[2016-10-12 05:34] madiflannery opened #62 "No 'admin' group - confusion with 'adm' group?"
from @tseemann

When unix users are added, and we want them to have sudo privileges, they are put in the adm group. But this only allows access to logs. The /etc/sudoers file has admin user. But there is no admin group. Confused!

[2016-10-12 05:36] madiflannery opened #63 "Errors with 'supervisor' package"
from @tseemann

Any ideas?

All I did was try to install a text editor pkg.

[code]

@dnbenso suggests apt-get remove supervisord as galaxy and smrt are running their own copy.

[code]

[2016-10-12 06:31] nuwang commented on #63
I thought this was fixed in 4.1?

[2016-10-13 04:19] madisonkeene commented on #63
I thought I'd seen it before too but I couldn't find it in the closed issues when I had a quick look. It's an issue @tseemann reported a while ago though so definitely could have been fixed.

[2016-11-16 04:29] igormakunin opened #64 "Scatterplot visualisation option does not work"
Visualise > Scatterplot does not work on GVL-4.1, Galaxy-qld and Galaxy-tut. I mean visualisation option accessible through Visualise icon on any tabular dataset with numbers. This option is used in the metagenomics tutorial. It works on Galaxy-mel. Is it possible to fix the image? Can you share the knowledge with the banana benders, so we can fix Galaxy-qld?

[2016-11-16 04:35] igormakunin opened #65 "Galaxy Reports issues"
There are issues with Reports, eg it shows only 50 jobs per user, does not show jobs for previous months, etc. Derek updated a test Galaxy via github, but the update did not fix Reports.

[2016-11-16 20:38] Slugger70 commented on #65
Apparently this is fixed in Galaxy 16.07. It was a Galaxy bug and I got it to work for the 16.07 test install I did.

[2016-11-17 01:24] igormakunin commented on #65
Derek has upgraded a test GVL Galaxy to 16.07, but the upgrade did not fix Reports.

[2017-03-28 07:49] Slugger70 opened #66 "Change genomespace urls to australian server"
In the current filesystem build, the genomespace urls point to the US server. Once completed galaxy client javascript needs rebuilding with a `make client` as the galaxy user from `/mnt/galaxy/galaxy-app`

[2017-03-28 07:51] Slugger70 opened #67 "genomespace module not installed on current filesystem build"
Genomespace module not loaded. `python-genomespaceclient` needs to be included in requirements file. Once done galaxy needs to be restarted to load the python module

[2017-03-28 07:54] Slugger70 opened #68 "Galaxy version bump to v17.01"
Bump Galaxy version to 17.01

[2017-03-28 07:58] Slugger70 commented on #68
Nuwan has merged 17.01 from galaxy project to our branch. Genomespace additions are almost complete.

[2017-03-28 08:01] Slugger70 commented on #68
Changes are required in the `galaxy.ini` file
* addition of `conda_auto_init = True`
Plus maybe others

`shed_tool_conf_cloud.xml` is no longer used by cloudman - needs to be `shed_tool_conf.xml` now. symlink? Or change to `galaxy.ini`

[2017-03-28 08:07] Slugger70 opened #69 "Bump OS to ubuntu 16.04"
Ubuntu to 16.04:
* new base image built
* new glibc
* new service mechanism: systemd
* New version of nginx - cloudman will need updating to cater for it.
* New services - including nginx, postgres will need systemd entries

[2017-03-28 15:43] nuwang commented on #68
shed_tool_conf_cloud renamed to shed_tool_conf.xml in  commit: https://github.com/gvlproject/gvl.ansible.filesystem/commit/16f7f407da3ed084a77d0a6a60d4dbe06821d294

[2017-03-28 15:48] nuwang commented on #67
It's installed now, but running the tool results in: "/mnt/galaxy/galaxy-app/.venv/bin/python: can't open file 'genomespace_importer.py': [Errno 2] No such file or directory"

[2017-03-28 15:49] nuwang commented on #66
Fixed in new build.

[2017-03-29 04:24] nuwang opened #70 "Add support for letsencrypt"
The self-generated certificates result in uninviting warnings.
Test letsencrypt as a replacement.

[2017-04-18 07:06] nuwang opened #71 "Upgrade SLURM to latest"

[2017-04-24 05:34] jessicachung commented on #48
This can be fixed by editing path in line 614 in the file: `/mnt/galaxy/galaxy-app/lib/tool_shed/util/shed_util_common.py`

From
[code]
to
[code]

[2017-05-30 07:45] nuwang commented on #71
@dnbenso It should already be installing the latest slurm. Is that not the case?

[2017-05-30 07:47] nuwang commented on #70
Letsencrypt needs a domain name to issue a certificate. This would mean that we need to integrate with Amazon route53 or Designate in OpenStack, which is probably best deferred to the new cloudman.

Enabling a self-generated certificate for the IP generates a warning message on first time access, which is probably uninviting for new users.

Therefore, I think we should defer this to the next relea

[2017-05-30 23:44] dnbenso commented on #71
Yeah, lets resolve this for now.  QFAB staff raised it as an issue and I wrongly thought that it wasn't the latest.  I believe they may have been talking about the fact that the version number of 2.6.5-1 does match the 15.08.7 build tag on the debian package? The latest version of slurm source is 17.02.  We however do NOT want to be running slurm from source code.  BAD idea as you have to keep up

[2017-05-30 23:44] #71 closed

[2017-05-31 05:19] nuwang commented on #70
Outcome from GVL meeting:
Thom's solution:
(https://workshop.hometreelab.com/tinker_binf/gvl-letsencrypt)

LetsEncrypt needs DNS name (not IP address). So unless we have a way to automatically issue DNS names, we cannot programmatically generate a certificate for new machines.

Nuwan suggests to not do it for this release.
Derek reports that there are some gov users who are concerned about securit

[2017-06-07 05:25] #69 closed

[2017-06-07 05:28] #68 closed

[2017-06-07 05:35] AndrewIsaac commented on #52
UPDATE: Need to verify if this is still broken in Galaxy-main because it is not in our control

[2017-06-07 05:39] nuwang commented on #51
Adding 2bit ref data to indices will make the archive size very big. Therefore, it's probably best to let the users who need this install the ref data themselves through the data manager.

[2017-06-07 05:39] #51 closed

[2017-06-07 05:41] AndrewIsaac commented on #48
Should contribute the fix to galaxy-main + make this local patch in our filesystem

[2017-06-07 05:48] jessicachung commented on #52
Summary Statistics works in Galaxy-main, but is still broken in our current 4.2 dev.

[code]

[2017-06-07 05:51] AndrewIsaac commented on #65
This should be reported in Galaxy-main github

[2017-06-07 05:54] AndrewIsaac commented on #28
Need to speak with Andrew Lonie

[2017-06-07 07:20] jessicachung commented on #28
It looks like IGV uses the MIT license, so it should be fine to include.

[2017-06-08 23:36] #28 closed

[2017-06-09 04:46] jessicachung commented on #67
In `/mnt/galaxy/galaxy-app/tools/genomespace/genomespace_importer.xml`, line 6 needs to be changed to:
[code]
Once changed, genomespace import and export both work on Galaxy for gvl 4.2

[2017-06-09 04:46] #66 closed

[2017-06-09 06:25] jessicachung opened #72 "Missing indices for gatk2 and picard"
GATK2 and Picard are able to use the same .dict index files generated by `data_manager_gatk_picard_index_builder` which GATK 1.8 also uses. However, the data manager entry generated is called `gatk_picard_indexes`, and GATK2 and Picard use the table names `gatk2_picard_indexes` and `picard_indexes` respectively.

This can be fixed by adding the following lines to `/mnt/galaxy/var/shed_tool_data_ta

[2017-06-14 05:29] jessicachung commented on #60
Planning to make this optional. Have a checkbox at launch to opt-in or opt-out of message of the day.

[2017-06-14 10:51] Slugger70 commented on #52
I use the fact that it is reliably broken in my training workshops.. However, fixing it would be better.. It is one of the tools that comes with Galaxy. We should ask galaxyproject how they fixed it.

[2017-06-20 06:14] dnbenso commented on #70
Its very simple to implement.
Edit the following cloudman config files:
/mnt/cm/cm/conftemplates/nginx_default_locations.default
/etc/nginx/sites-enabled/default.locations
and add the following:

    location ~ /.well-known {
        allow all;
    }

vi /etc/nginx/sites-enabled/default.locations and modify the following lines - note galaxy-qld.genome.edu.au is just an example domain, you will nee

[2017-06-20 06:22] dnbenso commented on #70
It's very easy to implement.  Add a location entry to nginx default locations:

    vi /mnt/cm/cm/conftemplates/nginx_default_locations.default
    vi /etc/nginx/sites-enabled/default.locations

        location ~ /.well-known {
            allow all;
        }

Modify the cloudman server ssl file to include the correct certificates (these won't exist yet) and exclude the POODLE SSL3 vulnerability

[2017-06-21 02:14] jessicachung opened #73 "Slurm not running jobs simultaneously"
EDIT: Issue was previously titled "Change default destination in Galaxy job_conf.xml"

Would anyone object if I changed the default job destination to "slurm_cluster" in the job_conf.xml file? Currently it's set to "default_dynamic_job_wrapper". This means that most jobs use multiple CPUs if available (usually the wrappers specify 4 CPUs with `${GALAXY_SLOTS:-4}`). If we change it to default to th

[2017-06-21 02:45] jessicachung commented on #32
Working for both datasets and collections.

[2017-06-21 02:45] #32 closed

[2017-06-21 03:11] #67 closed

[2017-06-21 04:25] jessicachung commented on #73
Actually, the slowness I was experiencing with galaxy might have been caused by a slurm bug. In 4.2 beta, I can only get one slurm job to run at a time, even if they're only requesting 1 CPU and there are resources available (tested both with galaxy and on the command line).

We probably don't need to change the job_conf.xml. Just remember to manually change the default destination whenever you're

[2017-06-21 05:22] jessicachung commented on #70
From the GVL meeting:
Letsencrypt implementation should be done with other managed servers that have a domain name (e.g. Galaxy-mel, abrpi) following the instructions Derek has provided. @Slugger70,  can you do this whenever you have time?

[2017-06-21 08:25] Slugger70 commented on #73
So slurm might be blocking jobs on the basis that it by default blocks out a whole node per job unless you tell it otherwise.. In 4.1 we did that but may not have in 4.2.

[2017-06-21 08:28] Slugger70 commented on #73
According to the slurm docs, we need to change select/linear to select/cons_res in the slurm config files in /etc...
"In the case where select/cons_res is not enabled, the normal Slurm behaviors are not disrupted. The only changes, users see when using the select/cons_res plugin, are that jobs can be co-scheduled on nodes when resources permit it."

[2017-06-21 08:54] Slugger70 commented on #73
The problem is that we already have this setting in our slurm conf.. hmmm.. Maybe ask Chris for advice Jess..

[2017-06-22 03:15] jessicachung commented on #73
The slurm conf settings look identical to 4.1. I think I've narrowed it down to a systemctl/systemd issue. Will keep you updated.

[2017-06-22 04:40] nuwang commented on #73
Is the process for starting slurmctld different with systemd?:
https://github.com/galaxyproject/cloudman/blob/master/cm/services/apps/jobmanagers/slurmctld.py#L169

[2017-06-22 05:16] jessicachung commented on #73
Changing systemctl didn't fix the single job per node issue.

But yes, the PID is different for systemctl. I had to change the PID file location in `/lib/systemd/system/slurmctld.service` and `/lib/systemd/system/slurmd.service`. Also starting slurm up in cloudman results in systemctl thinking slurm isn't running, even though it is.

I'll ask the local slurm experts the next time I see them.

[2017-06-22 06:51] jessicachung commented on #73
Talked to Ben and found the solution :)

The partition needs to be set to shared and jobs need to ask for a limited amount of memory.

In the slurm.conf file, add `Shared=YES` to the main partition.

[code]

We also need to limit the amount of memory when submitting jobs, otherwise it asks for the max memory. We'll need to find a way to change the default `MinMemoryNode`.

[2017-06-22 07:25] nuwang commented on #73
Great! We can fix this at the cloudman level, so we won't need to build a new image or fs. I'll change the slurm conf. template.

[2017-06-22 07:33] nuwang commented on #73
Have just updated the buckets. Let me know whether all is ok.

[2017-06-22 08:45] #73 closed

[2017-06-28 05:16] AlanCLo opened #74 "Monitoring Cloudman/slurm infrastructure of our services"
Advanced monitoring of key components we run to be alerted of failures in the infrastructure components of the services we run like Cloudman, slurm, the DNS, ...etc

[2017-06-29 13:44] netbofia opened #75 "Role not found: galaxyprojectdotorg.cloudman-database was NOT installed successfully"
Hello I'm trying to follow your guide to create a gvl image, but I get this error when trying to install the roles. Is this an ansible problem or are there broken dependencies?

-> $ ansible-galaxy install -r requirements.yml -p roles
- extracting gvl.ansible.filesystem.presetup to roles/gvl.ansible.filesystem.presetup
- gvl.ansible.filesystem.presetup was installed successfully
- extracting gvl.a

[2017-06-29 16:06] nuwang commented on #75
Hi @netbofia, Thanks for reporting this. This was because the ansible-galaxy roles were recently renamed. I've just made a patch that should fix this: https://github.com/gvlproject/gvl.ansible.playbook/commit/c4973fd8cd9ffd64de66b4e23de26ea39f6669eb

Also wanted to alert you that the latest version of the GVL (4.2) has been updated to use Ubuntu 16.04. We had missed updating the documentation and

[2017-06-30 10:21] JoaoMFCardoso commented on #75
Where can we download the default GVL image? We set ourselves to follow the playbook because we couldn't find it on the GVL website.

Anyway, thanks for the quick reply!

[2017-06-30 10:31] BrunoEVCosta commented on #75
Wow, many thanks for the quick reply.

Me and @JoaoMFCardoso  will try to follow the updated guide and supply more feed back if any other problems arise.

Yes a copy of the GVL image would actually be more useful. For the time being, we do not plan on making customizations.

[2017-06-30 13:37] nuwang commented on #75
@JoaoMFCardoso @netbofia I've updated the playbook instructions to include some download links to the qcow2 image - I assume you're trying to get this running on an OpenStack cloud? The 4.2.0 image is the latest and greatest - we use it now but it's still in beta - we plan to finalise the release next month so any feedback you have would be very useful.

Once it's set up on your cloud, we can add

[2017-06-30 13:52] JoaoMFCardoso commented on #75
@nuwang @netbofia yes. The idea is to set up VM's in our OpenStack service with your images.

I've pushed through with the guide, but I was suck analyzing the packer.json file. I might be completely off here, but I was trying to simplify it as to not include any AWS references and just link it with our own Openstack.

Is this something we can do?

[2017-06-30 15:11] BrunoEVCosta commented on #75
Thanks, for all the help. This can now be marked as solved.

[2017-06-30 15:11] #75 closed

[2017-06-30 15:12] nuwang commented on #75
@JoaoMFCardoso Yes. The easiest way to do this is to use the -only flag in packer.
packer build -only=openstack packer.json

[2017-07-11 08:03] nuwang commented on #57
Unfortunately, this does not appear to be doable. This is because, although the initial dataset name can be specified within the workflow editor and is set by Galaxy as the tool runs, this same does not appear to be accessible to the tool wrapper when the tool starts running.

As a result, the GenomeSpace importer is forced to provide "GenomeSpace importer on..." following the convention of other

[2017-07-12 05:28] #47 closed

[2017-07-12 05:31] #26 closed

[2017-07-18 22:54] dnbenso opened #76 "Tool installation fails in Galaxy if SSL is activated"
Multiple versions of GVL galaxy don't allow tool installation when SSL is toggled on.  There is a  URL generated which points to http service.  http://<galaxy-instance>/galaxy/admin_toolshed/prepare_for_install? etc etc
Changing this to https works.
Needs testing in v4.2 to see if issue persists there.

[2017-07-18 23:33] dnbenso opened #77 "SMRTAnalysis competes with Galaxy port 9080"
When multiple processes are selected in userdata at launch cloudman assigns port 9080 for handler0.  If SMRTAnalyis is installed it will bind to port 9080 prior to galaxy starting and jobs for handler 0 won't be submitted to the cluster until the port is freed and the handler process restarted.

[2017-07-19 04:26] Slugger70 commented on #77
We need to assign port ranges to everything. Need to create a port map for the image..

[2017-07-19 04:27] Slugger70 commented on #60
New feature of Galaxy is webhooks. Can be installed fairly simply. Need to spend some time designing what it would look like and then installing it.

[2017-07-19 04:31] #62 closed

[2017-07-19 04:36] Slugger70 commented on #61
And in 4.2 but it's a Galaxy bug.

[2017-07-19 04:38] Slugger70 commented on #61
Issue has been submitted to Galaxy project by Jen Jackson at this years GCC. We think it occurs when Galaxy is upgraded from one version to the next. Galaxyproject/galaxy issue #3314

[2017-07-19 04:51] Slugger70 commented on #65
Fixed in galaxy 17.01

[2017-07-19 04:51] #65 closed

[2017-07-26 02:15] Slugger70 opened #78 "Add FROGS to gvl"
I've a lot of interest from GVL users to get the French metagenomics pipeline frogs into Galaxy. Unfortunately, it is not in the tool shed. Therefore an ansible script would be required to install it. It will need to be installed on GVL's with the command-line install option.. It is not for the faint hearted!

[2017-07-26 02:16] Slugger70 commented on #78
https://github.com/gvlproject/gvl.ansible.frogs

[2017-07-26 02:18] Slugger70 opened #79 "Update snippy tool to 3.1"
Update Torsten's snippy tool in Galaxy to 3.1. New version of bioconda package has been produced. New galaxy tool is being tested.

[2017-07-26 02:19] Slugger70 commented on #79
There are some problems with the bioconda dependencies for snippy.. Freebayes-parallel is having some issues, it has been referred to the IUC..

[2017-07-26 02:20] Slugger70 opened #80 "Update Abricate to 0.4"
Update Abricate to version 0.5 in both Bioconda and Galaxy.

[2017-07-26 02:25] Slugger70 commented on #80
Bioconda 0.5 and galaxy tool done. Merged and available in the toolshed.
https://github.com/bioconda/bioconda-recipes/tree/master/recipes/abricate
https://github.com/galaxyproject/tools-iuc/tree/master/tools/abricate

[2017-07-26 02:27] Slugger70 opened #81 "Add Roary the pangenome pipeline to GVL"
Add Sanger's Roary pipeline to GVL and Galaxy.

[2017-07-26 02:27] Slugger70 commented on #81
Roary has been added to Bioconda. I've updated it to the latest version.

I've written a Galaxy tool for it also. It is in the toolshed and the tools-iuc repo.

[2017-07-26 02:30] Slugger70 commented on #80
Currently installable but not in GVL image

[2017-07-26 02:30] Slugger70 commented on #81
Currently installable from toolshed but not in GVL image.

[2017-07-26 02:33] Slugger70 opened #82 "Add Gubbins to Galaxy and GVL"
Add Sanger's Gubbins tool to the GVL and Galaxy etc.

[2017-07-26 02:34] Slugger70 commented on #82
Gubbins added to Bioconda by A PAge and myself.

Added to tools-iuc galaxy repo and merged into toolshed

Available for install but not in GVL image yet.

[2017-07-26 02:37] Slugger70 opened #83 "Add Nullarbor to Galaxy in GVL."
This is Torsten's Nullarbor tool. It is already in the command line brew system but not in Galaxy. This is a reminder for me to do it.

Need:

1. Add it to Bioconda
2. Add it to tools-iuc
3. Add it to GVL toolsuite in the image

[2017-07-26 05:44] Slugger70 commented on #76
https://github.com/galaxyproject/galaxy/issues/2493

[2017-07-26 05:58] thomcuddihy opened #84 "Integration of external servers into GVL's SLURM cluster"

[2017-07-26 07:04] nuwang commented on #84
@thomcuddihy, can you elaborate on this? Are you thinking of adding pre-existing slurm nodes to a GVL cluster, or registering some (blank) external servers with the GVL so that the SLURM daemon will subsequently be set up on them and integrated with the cluster, or some other scenario, such as directly adding the endpoint of a running SLURM cluster?

[2017-07-28 07:04] Slugger70 opened #85 "Genomespace push doesn't work in 4.2"
It looks as though Genomespace push doesn't wrok at all in 4.2. Genome space pull works just fine.

[2017-07-31 21:41] thomcuddihy commented on #84
@nuwang sorry, got lost in my inbox.

The Beatson group currently have a few physical servers that they are migrating from (to GVL/NeCTAR). It seems like a shame for such computing power to go to waste, and needlessly complicated to setup them up as a separate cluster. Instead I am looking at redeploying them (via Ansible) as blank compute nodes into the GVL SLURM cluster.

The transient FS shared

[2017-08-01 18:47] nuwang commented on #84
@thomcuddihy Ok, that sounds great. It'd be really good to hear how it goes with the NFS performance etc.

Looking forward, the next version of CloudMan has been designed to do exactly this. It's layered in such a way that, the bottom most layer manages cloud nodes via cloudbridge, but the layer above only deals with IPs. Therefore, you can register arbitrary host IPs with the layer above, and the

[2017-08-02 05:40] Slugger70 opened #86 "Intersect metadata wait issue"
Sometimes (~50%) GVL launch at Intersect hangs on Cloudman start up on instance.. It's waiting for the metadata server to respond.

[2017-08-09 04:21] Slugger70 commented on #79
Hopefully the issues have been fixed for the bioconda install of snippy. Currently testing it.

[2017-08-09 05:07] Slugger70 commented on #85
fixed in the new filesystem ansible. Will be in the new build.

[2017-08-09 05:55] nuwang opened #87 "Make SLURM kill large jobs instead of letting worker fail"
Jobs that take up a lot of memory end up killing the worker node. Make slurm kill the job instead.

[2017-08-09 06:44] AndrewIsaac commented on #87
See Chris Samuel as we have the same problem

On 9 Aug 2017, at 3:55 pm, Nuwan Goonasekera <notifications@github.com<mailto:notifications@github.com>> wrote:

Jobs that take up a lot of memory end up killing the worker node. Make slurm kill the job instead.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/gvlpro

[2017-08-09 11:17] nuwang commented on #85
Added handling for compressed extensions: https://github.com/gvlproject/galaxy/commit/d37a2a9de2713d438a3a19dd1b21f8e2c7631bcb

[2017-08-23 01:57] Slugger70 commented on #77
Simon will create a port map spreadsheet: https://docs.google.com/spreadsheets/d/19KJ0VZuHnsPuRqCs20c9zgJnbPpmokTSo8_Aoaarp8s/edit#gid=0

[2017-08-23 05:08] thomcuddihy commented on #84
https://docs.google.com/presentation/d/e/2PACX-1vRmLR__e-KzJYwUO_MGbjx9kXGc6hOSHIbSpGxJajDjxs2-ZgrZqSKHU2DFXIenyzCRhOpZmWh1DcWF/pub?start=false&loop=false&delayms=60000

[2017-08-23 05:10] thomcuddihy commented on #84
NFS as served out by GVL master node is acceptable (80mb/s write on external nodes).
Currently building a minimal Ubuntu 14.04/SLURM LXC container to use for the virtual compute nodes.

[2017-08-23 05:31] thomcuddihy commented on #84
Don't extend Cloudman. It has the ability to use a template to build the slurm.conf. Extend that instead.
CONF_TEMPLATE_OVERRIDE_PATH = "/opt/cloudman/config/conftemplates/"
/opt/cloudman/config/conftemplates/slurm.conf

[2017-08-23 05:42] thomcuddihy commented on #84
see /mnt/cm/cm/conftemplates/conf_manager.py

[2017-08-23 05:47] nuwang commented on #84
The default template is in /mnt/cm/cm/conftemplates/slurm.conf.default
This has substitution variables that cloudman replaces with runtime values. (e.g. $master_hostname, $total_memory, $worker_nodes). These variables are not mandatory however, and you could replace the entire $worker_nodes section with a custom list of worker nodes.

[2017-08-23 05:50] nuwang commented on #84
So leaving $worker_nodes as is, and then appending new worker nodes below that, looks like the easiest way to integrate new custom workers, while leaving existing cloudman worker management and scaling functionality intact.

[2017-08-23 05:56] thomcuddihy commented on #84
Yeah, I was just having a look, and inserting those worker declarations using a template will be ideal. I can do some tricky stuff with the partition declarations as well.
Regarding the scaling functionality: how does that get triggered? Is it based on the load from SLURM, or from the CM monitoring of the worker nodes?

[2017-08-23 06:08] nuwang commented on #84
Based on the load from slurm. Mostly, it looks at job turnover to scale up and idle nodes to scale down. cloudman/cm/services/autoscale.py

[2017-08-25 01:10] Slugger70 opened #88 "Barrnap 0.8 Galaxy tool"
Barrnap has been updated in bioconda to 0.8. Needs corresponding Galaxy tool.

[2017-08-30 05:25] nuwang opened #89 "Prep for release"
1. Create AWS images
2. Upload images to public bucket
3. Rebuild Galaxy Tute

[2017-08-30 06:10] igormakunin opened #90 "Trinity fails"
Trinity (Galaxy Version 2.4.0.0, toolshed.g2.bx.psu.edu/repos/iuc/trinity/trinity/2.4.0.0) fails with:
Fatal error: Exit code 127 ()
/mnt/galaxy/tmp/job_working_directory/000/87/tool_script.sh: line 9: Trinity: command not found

[2017-08-30 06:15] igormakunin opened #91 "db_key issue"
I have a problem with db_key on GVL-4.2 deployed without any genome. I create a new db_key with data manager, but after Galaxy restart the new db_key is not visible to data managers. It is inconvenient, but probably is not a major issue that would prevent release of GVL-4.2

[2017-09-01 04:58] igormakunin commented on #91
From what I see, data_manager_fetch_genome_dbkeys_all_fasta does not write to /mnt/galaxy/galaxy-app/tool-data/all_fasta.loc
If I got it right, data managers look in /mnt/galaxy/galaxy-app/tool-data/all_fasta.loc for available genomes / db_keys. The issue was fixed by manual editing of this file.

[2017-09-01 05:07] igormakunin opened #92 "Extract genomic DNA issue"
Extract genomic DNA tool needs 2bit fasta. It uses /mnt/galaxyIndices/alignseq.loc
data_manager_twobit_builder does not write to this file. It writes to the same file in the data manager folder, but the tool does not see it. I fix it by copying alignseq.loc from data_manager_twobit_builder directory to  /mnt/galaxyIndices/alignseq.loc

[2017-09-06 01:23] jessicachung commented on #91
I'm not able to recreate the issue. This is what I did:

Launched a 4.2 instance with blank indices.

Run the data manager "Create DBKey and Reference Genome" to fetch a new genome and create a dbkey. I used `sacCer2`.

This populated the loc files `all_fasta.loc` and `dbkeys.loc` in `/mnt/galaxyIndices/tool-data/dm/toolshed.g2.bx.psu.edu/repos/devteam/data_manager_fetch_genome_dbkeys_all_fasta/16

[2017-09-06 01:50] igormakunin commented on #91
@jessicachung My steps: upload a fasta ref sequence into history, run "Create DBKey...", This populates /mnt/galaxy/galaxy-app/tool-data/dbkeys.loc Other data managers can see the new genome. Restart Galaxy. Data managers do not see the new genome. I fixed it by editing `/mnt/galaxy/galaxy-app/tool-data/all_fasta.loc` and `/mnt/galaxyIndices/tool-data/dm/toolshed.g2.bx.psu.edu/repos/devteam/data_m

[2017-09-06 05:03] Slugger70 commented on #79
Have an issue with the way snippy stores data for each run. Need to figure out a better way of pickling the runs.

[2017-09-06 05:04] Slugger70 commented on #80
Torsten recently updated Abricate to 0.7

[2017-09-06 05:04] nuwang commented on #92
From Jess:
It's a bit of a hack, but the loc file one can be fixed by editing the tool xml

edit `/mnt/galaxy/galaxy-app/tools/extract/extract_genomic_dna.xml` line 19 from
[code]
to
```-g /mnt/galaxyIndices/tool-data/dm/toolshed.g2.bx.psu.edu/repos/devteam/data_manager_twobit_builder/9946bc39c834/```

[2017-09-06 05:12] Slugger70 opened #93 "Add Shovill to Galaxy and Bioconda"
Shovill SPAdes wrapper for better assemblies. Version 0.7.1.

[2017-09-06 05:18] Slugger70 commented on #88
Barrnap is complete and is in Toolshed

[2017-09-06 05:20] Slugger70 commented on #82
Update to latest build of Gubbins

[2017-09-06 05:26] AlanCLo opened #94 "check compatibility of all of the add-ins with 4.2"
Test all GVL add ins for compatibility with 4.2 and adjust accordingly..

At the same time, pick suitable port numbers for everything to remove clashes.

[2017-09-14 04:00] Slugger70 commented on #93
Have bumped version to 0.8 to get around some bugs. Now requires extra conda package for some linux utilities. (procps). Delayed while waiting for conda-forge PR acceptance.

[2017-09-19 01:12] Slugger70 commented on #88
It's installed on Galaxy-Mel.. Can someone test it please?

[2017-09-19 03:39] Slugger70 commented on #93
Conda-forge PR for procps now passes tests.. Waiting for merge. Then can rebuild new shovill conda package then galaxy code.

[2017-09-19 03:39] Slugger70 commented on #80
Bioconda complete and in Galaxy toolshed.

[2017-09-19 03:45] Slugger70 commented on #82
Gubbins is now 2.2.3 on github but CHANGELOG suggests nothing worth implementing here..

[2017-09-20 00:51] Slugger70 commented on #81
Update to latest build of Roary 3.10.0

[2017-09-20 00:51] Slugger70 commented on #93
Waiting for Travis-CI to clear MacOS backlog before any tests can pass

[2017-09-20 00:55] Slugger70 commented on #81
Waiting for Travis-CI to clear backlog of MacOS builds for a required dependency to be merged.

[2017-09-20 04:08] #85 closed

[2017-09-20 04:08] Slugger70 commented on #85
Tested on Vanilla 4.2 and it all works

[2017-09-20 04:58] Slugger70 commented on #61
Delayed. Waiting for Galaxy release 17.09

[2017-09-20 05:01] Slugger70 commented on #94
Tested SMRTPortal which works. However, there is a new version of SMRTtools which supports new PacBio datatypes (not supported in current version of SMRTPortal..) Update is required. Will make a new ticket for it in the Backlog section soon.

[2017-09-22 05:43] dnbenso commented on #76
I found the simple solution to this was to add the following to cloudman in /mnt/cm/cm/conftemplates/nginx_galaxy_locations.default:

    location /galaxy {
        ...
        proxy_set_header X-URL-SCHEME https;
        ...
    }

[2017-09-22 05:47] dnbenso commented on #76
Without this change to NGINX config not only is tool installation slightly broken but you can't import genomes from the tool "UCSC_main table browser" (ucsc_tablebrowser1) and its family of related tools.

[2017-09-22 08:15] nuwang commented on #76
@dnbenso Nice work! We need to merge this into cloudman.

[2017-10-12 00:02] Slugger70 opened #95 "Update smrtportal addin to install smrtlink (new version of smrtportal)"

[2017-10-17 04:30] dnbenso opened #96 "Count GFF Feature tool missing python module"
error:
Traceback (most recent call last):
  File "/mnt/galaxy/shed_tools/toolshed.g2.bx.psu.edu/repos/devteam/count_gff_features/fabda887a71f/count_gff_features/count_gff_features.py", line 6, in <module>
    from galaxy.datatypes.util.gff_util import GFFReaderWrapper
  File "/mnt/galaxy/galaxy-app/lib/galaxy/datatypes/util/gff_util.py", line 9, in <module>
    from galaxy.util.odict import odict

[2017-10-20 01:07] Slugger70 commented on #81
Updated to 3.10.2. Bioconda PR accepted, Galaxy tool PR in progress

[2017-11-21 05:00] igormakunin opened #97 "snippy error"
snippy fails when Advanced parameters are selected:
Fatal error: Exit code 1 ()
Value "10.0" invalid for option mincov (number expected)

I've tried just 10, but got the same error

[2017-11-21 05:28] dnbenso commented on #97
Need to change minicov to integer in wrapper.

[2017-11-21 12:05] Slugger70 commented on #97
There should be an updated version in the toolshed.

On 21 November 2017 at 16:28, Derek Benson <notifications@github.com> wrote:

--

*Simon Gladman *| Second Lieutenant

Wyndham Vale Fire Brigade

PO Box 410 Werribee 3030

Mob. 0418 421 077

Email. *simon.gladman@unimelb.edu.au <simon.gladman@unimelb.edu.au>*

[2017-11-22 01:15] igormakunin commented on #97
Galaxy-qld has the latest version of snippy available in the tool shed

[2017-11-22 01:25] Slugger70 commented on #97
hmmm... Oh, yeah I'm waiting on the acceptance of a PR for the new version

On 22 November 2017 at 12:15, igormakunin <notifications@github.com> wrote:

--

*Simon Gladman *| Second Lieutenant

Wyndham Vale Fire Brigade

PO Box 410 Werribee 3030

Mob. 0418 421 077

Email. *simon.gladman@unimelb.edu.au <simon.gladman@unimelb.edu.au>*

[2018-04-09 23:36] JamesJond opened #98 "Attempting to install on CentOS. Question regarding the launcher"
Hi,

I am attempting to replicate GVL on CentOS. We have some internal extensions we wanted to apply that only works on CentOS and wanted to see how easy it is to replicate GVL environment on CentOS image.

I have identified few other GitHub repositories that the Ansible playbook was pointing to in order to understand what packages are being installed underneath. What I didn't quite figure out was

[2018-04-10 07:43] nuwang commented on #98
Hi James,

Good to hear you're thinking of porting the GVL to centos - we'd be glad to have that contributed to the codebase. Just a note - if you're planning to run this on OpenStack, you will need to enable the EC2-API service.

The user-data that's passed in is actually a YAML file, which CloudLaunch formulates based on user selections, and is passed into the VM when it's created (the user_data